

<section class="flex flex-col items-center justify-center h-full">
    @if(!authService.isAuthenticated()){
    <div class="mb-3">
        <a RouterLink="/Home">
            <img alt="HiveMind Logo" class="w-full max-w-28" src="assets/logo.png">
        </a>
    </div>
    <h1 class="text-3xl font-bold tracking-wide">HiveMind App</h1>
    <div class="mt-3 text-center">
        <p class="text-lg font-normal">Condividi le tue Idee e Commenta le Idee degli altri Utenti...</p>
        <p>
            <a routerLink="/SignUp">Registrati</a> 
            o 
            <a routerLink="/Login">Accedi</a>
        </p>
    </div>
    } @else {
        <div>
            <p>{{userService.username()}} Authenticated</p>
            @if(userIdeas){
                @for(idea of userIdeas; track idea){
                    <p>Idea {{idea.title}}</p>
                }
            }
        </div>
    }
</section>