
// Light Theme Variables
$primary-color-light: #3498db;
$secondary-color-light: #2ecc71;
$background-color-light: #f4f4f9;
$text-color-light: #333333;

// Dark Theme Variables
$primary-color-dark: #2c3e50;
$secondary-color-dark: #27ae60;
$background-color-dark: #1e1e1e;
$text-color-dark: #ecf0f1;