
@import 'variables.scss';

// Tema Light Mode 
.light-theme {
  --primary-color: #{$primary-color-light};
  --secondary-color: #{$secondary-color-light};
  --background-color: #{$background-color-light};
  --text-color: #{$text-color-light};
}

// Tema Dark Mode
.dark-theme {
  --primary-color: #{$primary-color-dark};
  --secondary-color: #{$secondary-color-dark};
  --background-color: #{$background-color-dark};
  --text-color: #{$text-color-dark};
}