<header class="light- px-1">
    <nav class="p-4">
        <div class="flex items-center justify-between ">
            <div class="flex items-center">
                <a routerLink="/Home">
                    <img class="w-10 h-auto" src="assets/logo.png">
                </a>
                <a routerLink="/Home" class="font-semibold text-xl ml-2">HiveMind</a>
            </div>
            <div class="hidden md:flex items-center">
                <a routerLink="/Home" class="m-3 text-sm font-semibold">Home</a>
                @if (auth.isAuthenticated()){
                    <a routerLink="/UploadIdea" class="m-3 text-sm font-semibold">Upload Idea</a>
                    <a routerLink="/Home" (click)="handleLogout()" class="m-3 text-sm font-semibold">Logout</a>
                } @else {
                    <a routerLink="/Login" class="m-3 text-sm font-semibold">Login</a>
                    <a routerLink="/SignUp" class="m-3 text-sm font-semibold">Sign Up</a>
                }
                <app-theme-toggle></app-theme-toggle>
                <a href="">
                    <img class="w-6 h-auto m-3" src="assets/user-icon.png"> 
                </a>
            </div>
            <div class="md:hidden">
                <button (click)="toggleNavbarMenu()">
                    @if(navbarIsOpen) {
                        <svg class="w-[32px] h-[32px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                        </svg>                          
                    } @else {
                        <svg class="w-[32px] h-[32px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
                        </svg>                          
                    }                      
                </button>
            </div>
        </div>
        <div class="{{navbarIsOpen ? 'flex' : 'hidden'}} md:hidden basis-full flex-col items-center">
            <a routerLink="/Home" class="m-3 text-sm font-semibold">Home</a>
            @if(auth.isAuthenticated()){
                <a routerLink="/UploadIdea" class="m-3 text-sm font-semibold">Upload Idea</a>
                <a routerLink="/Home" (click)="handleLogout()" class="m-3 text-sm font-semibold">Logout</a>
            } @else {
                <a routerLink="/Login" class="m-3 text-sm font-semibold">Sign In</a>
                <a routerLink="/SignUp" class="m-3 text-sm font-semibold">Sign Up</a>                
            }
            <app-theme-toggle></app-theme-toggle>
            <a routerLink="/Profile"> <img class="w-6 h-auto m-3" src="assets/user-icon.png"> </a>
        </div>
    </nav>
</header>
