<header class="light- px-1">
    <nav class="p-4">
        <div class="flex items-center justify-between ">
            <div class="flex items-center">
                <img class="w-10 h-auto" src="assets/logo.png">
                <a routerLink="/Home" class="font-semibold text-xl ml-2" href="">HiveMind</a>
            </div>
            <div class="hidden md:flex items-center">
                <a routerLink="/Home" class="m-3 text-sm font-semibold" href="">Home</a>
                <a class="m-3 text-sm font-semibold" href="">Upload Idea</a>
                <a routerLink="/Login" class="m-3 text-sm font-semibold" href="">Login</a>
                <a class="m-3 text-sm font-semibold" href="">Sign Up</a>
                <app-theme-toggle></app-theme-toggle>
                <a href="">
                    <img class="w-6 h-auto m-3" src="assets/user-icon.png"> 
                </a>
            </div>
            <div class="md:hidden">
                <button (click)="toggleNavbarMenu()">
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>    
                </button>
            </div>
        </div>
        <div class="{{navbarIsOpen ? 'flex' : 'hidden'}} md:hidden basis-full flex-col items-center">
            <a routerLink="/Home" class="m-3 text-sm font-semibold" href="">Home</a>
            <a class="m-3 text-sm font-semibold" href="">Upload Idea</a>
            <a routerLink="/Login" class="m-3 text-sm font-semibold" href="">Sign In</a>
            <a class="m-3 text-sm font-semibold" href="">Sign Up</a>                
            <app-theme-toggle></app-theme-toggle>
            <a href=""> <img class="w-6 h-auto m-3" src="assets/user-icon.png"> </a>
        </div>
    </nav>
</header>
