
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-14 w-auto" src="assets/logo.png" alt="HiveMind">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight">Sign up to HiveMind</h2>
    </div>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6" [formGroup]="signUpForm" (ngSubmit)="onSignupSubmit()">
        
        <!-- username Input -->
        <div>
          <div class="flex items-center justify-between">
            <label for="username" class="block text-sm font-medium leading-6 ">Username</label>
            @if(signUpForm.controls.password.errors){
              @if(signUpForm.controls.password.errors['required']){
                <p class="text-sm leading-6 text-red-400">Username is required.</p>
              }
              @if(signUpForm.controls.password.errors['minLength']){
                <p class="text-sm leading-6 text-red-400">Username too short</p>
              }
            }
          </div>
          <div class="mt-2">
            <input id="username" name="username" formControlName="username" type="username" autocomplete="username" 
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required>
          </div>
        </div>
        <!-- username Input -->
  
        <!-- password Input -->
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6">Password</label>
            @if(signUpForm.controls.password.errors){
              @if(signUpForm.controls.password.errors['required']){
                <p class="text-sm leading-6 text-red-400">Password is required.</p>
              }
              @if(signUpForm.controls.password.errors['minLength']){
                <p class="text-sm leading-6 text-red-400">Password too short</p>
              }
            }
          </div>
          <div class="mt-2">
            <input id="password" name="password" formControlName="password" type="password" autocomplete="off"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required>
          </div>
        </div>
        <!-- password input Input -->

        <!-- File Input -->
        <!-- <div class="flex items-center justify-center w-full">
          <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                  <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                  </svg>
                  <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Aggiungi Immagine Profilo</span></p>
                  <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
              </div>
              <input id="dropzone-file" type="file" class="hidden" />
          </label>
        </div>  -->
        <!-- File Input -->
  
        <div>
          <button [disabled]="!signUpForm.valid" [class.disabled-button]="!signUpForm.valid" type="submit" 
          class="flex w-full justify-center py-2.5 px-5 me-2 mb-2 text-sm font-medium focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-emerald-400" >  
          Sign Up
          </button>
        </div>
      </form>
  
      <p class="mt-10 text-center text-sm text-gray-500">
        If you have an account 
        <a routerLink="/Login" class="font-semibold leading-6 text-emerald-400 dark:text-emerald-300 hover:text-gray-400">Login</a>
      </p>
    </div>
</div>